# A MongoDB Atlas or local MongoDB connection string.
MONGODB_URI=mongodb+srv://nirajsharma7724_db_user:niraj123niraj123@cluster0.febb358.mongodb.net/?appName=Cluster0
# Use a long, random, private signing secret.
JWT_SECRET=7f85c5e8e393ce5cebdf1fb54844594d0a32dd52dbd0517dab691f9a735e861c6030989f68e0876eb6d811950ea750a42e70725bc98a7ab8a55e32cdf4ee2ad7
JWT_EXPIRES_IN=1h
CLIENT_URL=http://localhost:3000
PORT=4000
